#container{
    display: flex;
    border: 1px solid grey;
    -ms-flex-direction: column-reverse;
    height: 80vh;
}
section{
    border: 1px solid rgb(9, 240, 9);
}      
.left-side{
    flex-grow: 1;
    display: flex;
    flex-direction:column ;
}                                          
.right-side{
    flex-grow: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
div{
    outline: 1px solid orange;
    flex-grow: 1;
}