
p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
p{
    display: none;
}
p{visibility:hidden;}
div{
    overflow: scroll;

}
/*gölge verme sag asagi bulaniklik renk*/
p{
    text-shadow: 2px 2px 10px red;
}
/*kutu gölgelendirme*/
div{
    box-shadow: 4px 4px 3px red;
}
/*arka plan özellikleri*/
body{
    background-image: url("../images/mercedes.webp");
    /*background-repeat: repeat-x;
    background-repeat: repeat-y;*/
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
   /* background-attachment: scroll;*/
   background-size:cover;
   box-sizing: border-box;
    /* kutunun genisliginin bozulmasina izin vermez*/
   
}
<p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloremque accusamus quo nulla veniam quaerat aspernatur quisquam quos odit. Suscipit doloribus distinctio modi libero? Quod neque quae corrupti autem laudantium. </p>